<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!--
    testng.xml - TestNG Suite Configuration
    Run with: mvn test
    Or right-click this file in Eclipse > Run As > TestNG Suite
-->
<suite name="Automation Test Suite" verbose="1" parallel="none">

    <test name="Login Tests">
        <classes>
            <class name="com.automation.tests.LoginTest"/>
        </classes>
    </test>

    <!-- Add more <test> blocks here for other modules -->

</suite>
